{% extends "includes/base.html" %}

{% block content %}
    <!-- Container -->
     <div class="container">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3" style="color:white"><center>
          Frequently Asked Questions
        </center>
        </h1>
        <p>&nbsp;</p>
        <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How much does a new website cost?</a>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-body">
                    There's not one single answer to this question. A new website design is quoted based on the needs of each individual project. Every website is unique and requires different components; we design and develop custom websites specifically for your small business. We'll ask a lot of questions, assess your needs, and give you a quote based on that assessment.
                  </div>.
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How long will it take to get a new website?
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-body">
                    On average, we shoot for a six to eight week turnaround, but the pace of any project is mostly determined by the client. How much input you can provide during the initial stages, your availability with feedback, how soon the content is ready - all this affects the speed of completion.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Will I be able to update the site myself when it's finished?</a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-body">
                    Yes! We love it when our clients take control of their website and learn to manage it on their own. We'll provide you with a set of comprehensive video tutorials to help you learn your way around, and we're here to answer any questions you have.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingFour">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">When do I pay?</a>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="card-body">
                    We require a deposit of 30% to start the project. Midway through the project we require a second payment of 40%, and the final payment of 30% is due when we are ready to launch your site.
                    <br>
                    <br>
                    We accept checks, Paypal, and all major credit cards.
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingFive">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How much input do I have in the process?</a>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                  <div class="card-body">
                    Your input and feedback is really important. We'll start with a lot of questions about your needs, likes, and wants and work with you to develop just the right look and functionality.       </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingSix">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Who writes the content for the site?</a>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                  <div class="card-body">
                    Usually that is you. You are the expert on your business, so it's best if it comes from you. If you need help, we have a copywriter on our team who can help create content for you at an additional cost.   </div>
                </div>
              </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
     </div>
    <!-- /.container -->
{% endblock content %}

