{% extends "includes/base.html" %}

{% block content %}
    <!-- Container -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="container">

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Our Services</strong>
        </h2>
        <hr class="divider">
        <img class="img-fluid float-left mr-4 d-none d-lg-block" src="/static/img/intro-pic.jpg" alt="">
        <p>We offer software development outsourcing services as a safe, efficient and fully scalable solution that help our clients to launch new products faster, maximise ROI of existing software projects and gain competitive advantage through technology. Our major strength comes from combining flexibility with perfect organization of teams and processes. By working with multiple clients facing similar challenges we’ve accumulated extensive knowledge and mastered the effective management of software development process. Based on our experience we build tailored agile teams who are able to deliver working software on time.
      <p>&nbsp</p>
      <p>&nbsp</p>
      </div>
      <br>
      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Partners In</strong>
        </h2>
        <hr class="divider">
          <p>&nbsp;</p>
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
              <!--<div class="card h-100">-->
              <h4><center><strong>Excellent Process</strong></center></h4>
              <p>
                Agile methodology is a guard of our quality and efficiency. We are focused on delivering visible software increment at the end of every sprint to provide a continuous flow of value to our customers, which minimizes project risk and increases return on investment. Your software grows progressively from MVP to fully featured product and you only pay for work that is actually necessary and done.
              </p>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
              <h4><center><strong>Transparency</strong></center></h4>
              <p>
               We considered trust and communication to be crucial factors for every outsourcing project to succeed. As a result of this belief we embrace a win-win mentality and work side by side with clients sharing their goals and vision. As our client you will be provided with live access to the scrumboard and time tracking application having full control over the whole team and the project.
              </p>
          </div>
          <div class="col-md-4">
              <h4><center><strong>Scalability</strong></center></h4>
              <p>
                We know that ability to scale in today’s highly competitive business environment is crucial. Over the years we invested in proven methodologies and strategies to be able to quickly react to your needs. We are able to set up an additional team in less than 21 days. Our services allow you to quickly scale your team up to meet your growing requirements at any given moment.
              </p>
            <!--<div class="card h-100">-->
              <!--<img class="card-img-top" src="http://placehold.it/750x450" alt="">-->
              <!--<div class="card-body text-center">-->
                <!--<h4 class="card-title m-0">John Smith-->
                  <!--<small class="text-muted">Job Title</small>-->
                <!--</h4>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </div>
    <!-- /.container -->
{% endblock content %}


